body {
    background-color: #ffffff;
    border: 0;
    padding: 0;
}
header {
    background-color: #ff4500;
    padding: 15px;
}

h1 img {
   position: relative;
   margin: 10px 0;
   left: 40px;
   max-width: 100px;
   max-height: 100px;
}

nav ul {
    padding: 0 20px;
    position: absolute;
    top: 65px;
    right: 0;  
}

nav li {
    display: inline;
    margin: 0 0 0 30px
}

nav a {
    text-transform: uppercase;
    color:#ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ff4500;
    text-decoration: underline;
}

#banner {
    width: 100%;
    height: 750px;  
}

/*body*/

.texto1 {
    background-color: #848d0c;
    padding: 40px;
}

h2 {
    margin: 15px;
    font-size: 30px;
    text-align: center;
    color:#ffffff;
}

p {
    margin: 10px;
    text-align: center;
    color:#ffffff;
}

/*benefcios*/
.beneficios {
    padding: 30px;
    background-color: #cccccc;
}

.imgbenef { 
    padding: 40px 0;
    position: relative;
    width: 50%;
}

 .beneficios  {
    margin-top: 5px;;
    text-align: center;
    color: #000000;   
}
.beneficios ul {
    width: 30%;
    display:inline-block;
    vertical-align: top;
    margin-top: 5%;
}
.itens {
    font-size: 55px;
    list-style-type: none;
    color: #000000;
    margin: 20px;

}

footer {
    text-align: center;
    background: #000004;
    padding: 40px 0;
}
.logofooter {
    max-width: 120px;
    max-height: 120px;
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}